<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/admin/faculty">Manage falcuty </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<div class="row">
    <form action="/admin/user/<%= user._id %>/edit?_method=PUT" method="POST" class="signup-form">
        <div class="log-border">
            <h2> Edit User </h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" value="<%= user.name %>">
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Username</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="username" value="<%= user.username %>">
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Password</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="password" name="password">
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">New role: </label>
                </div>
                <div class="col span-2-of-3">
                    <select name="role" aria-valuenow="<%= user.role %>">
                        <option value="admin">Admin</option>
                        <option value="coordinator">Coordinator</option>
                        <option value="user">User</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="faculty">Faculty</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="faculty">
                        <% faculty.forEach(faculty => { %>
                            <option label="<%= faculty.name %>" value="<%= faculty._id %>">
                        <% }) %>
                    </select>
                </div>
            </div>
            
            <div class="row fal-add-css">
                <div class="col span-1-of-2">
                    <button class="btn btn-ghost" type="submit">Update</button>
                </div>

                <div class="col span-1-of-2">
                    <a class="btn btn-ghost" href="/admin/user/<%= user._id %>">Cancel</a>
                </div>
            </div>
        <div>
</form>
</div>

<!-- 
    <h2>Edit User</h2>
<form action="/admin/user/<%= user._id %>/edit?_method=PUT" method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= user.name %>">
    </div>
    <div>
        <label>Username</label>
        <input type="next" name="username" value="<%= user.username %>">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Role</label>
        <select name="role" aria-valuenow="<%= user.role %>">
            <option value="admin">Admin</option>
            <option value="coordinator">Coordinator</option>
            <option value="user">User</option>
        </select>
    </div>
    <div>
        <label for="faculty">Faculty</label>
        <select name="faculty">
            <% faculty.forEach(faculty => { %>
                <option label="<%= faculty.name %>" value="<%= faculty._id %>">
            <% }) %>
        </select>
    </div>
    <button type="submit">Update</button>
</form>
<a href="/admin/user/:id">Cancel</a>
-->