<!DOCTYPE html>
<html lang="en">
<body>
    <nav class="sticky sticky-admin">
        <div class="row">
            <img src="resources/img/logo.jpg" alt="missing picture" class="logo">
            <img src="resources/img/logo.jpg" alt="missing picture" class="logo-black">
                <ul class="main-nav">
                <li> <a href="#">Hello Admin <%= user.name %></a> </li>
                <li> <a href="/admin/user">Manage user </a> </li>
                <li> <a href="/admin/faculty">Manage falcuty </a> </li>
                <li> <a href="/admin/message">Message</a></li>
                <li> <a href="/admin/logout">logout </a> </li>
             </ul>
        </div>
    </nav>

    <section class="section-rewards js-section-reward">
        <div class="row">
            <h2>Statistics</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <div class="reward-box">
                    <div>
                        <h3>Total Account</h3>
                        <p class="rewards">
                            <%= totalAccount %>
                        </p>
                        <p class="reward-descriptions">
                            Accounts
                        </p> 
                    </div>
                </div>
                <div class="reward-box">
                    <div>
                        <h3>Total Student</h3>
                        <p class="rewards">
                            <%= totalStudent %>
                        </p>
                        <p class="reward-descriptions">
                            Students
                        </p> 
                    </div>
                </div>
                <div class="reward-box">
                    <div>
                        <h3>Total Manager</h3>
                        <p class="rewards">
                            <%= totalManager %>
                        </p>
                        <p class="reward-descriptions">
                            Managers
                        </p> 
                    </div>
                </div>
                <div class="reward-box">
                    <div>
                        <h3>Total Coordinator</h3>
                        <p class="rewards">
                            <%= totalCoordinator %>
                        </p>
                        <p class="reward-descriptions">
                            Coordinators
                        </p> 
                    </div>
                </div>
                <div class="reward-box">
                    <div>
                        <h3>Total Admin</h3>
                        <p class="rewards">
                            <%= totalAdmin %>
                        </p>
                        <p class="reward-descriptions">
                            Admins
                        </p> 
                    </div>
                </div>
            </div>

            <div class="col span-1-of-3">
                <div class="reward-box">
                    <div>
                        <h3>Total Faculty</h3>
                        <p class="rewards">
                             <%= countTotalFaculty %>
                        </p>
                        <p class="reward-descriptions">
                            Falcuties
                        </p> 
                    </div>
                </div>
                    <div class="reward-box">
                        <div>
                            <h3>Total Topic</h3>
                            <p class="rewards">
                                <%= countTotalTopic %>
                            </p>
                            <p class="reward-descriptions">
                                Topics
                            </p> 
                        </div>
                    </div>    
    
                    <div class="reward-box">
                        <div>
                            <h3>Total Article</h3>
                            <p class="rewards">
                                <%= countTotalArticle %>
                            </p>
                            <p class="reward-descriptions">
                                Articles
                            </p> 
                        </div>
                    </div>

            </div>

            <div class="col span-1-of-3">
                <div class="reward-box">
                    <div>
                        <h3>Total Requests</h3>
                        <p class="rewards">
                            <%= totalRequests %>
                        </p>
                        <p class="reward-descriptions">
                            Requests
                        </p> 
                    </div>
                </div>
                <div class="reward-box">
                    <div>
                        <h3>Busiest Day</h3>
                        <p class="rewards">
                            <%= requestsInDay %>
                        </p>
                        <p class="reward-descriptions">
                             on <%= day %>
                        </p> 
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="nav-footer">
                    <li> <a href="#">about us</a> </li> 
                    <li> <a href="#">blog</a> </li> 
                    <li> <a href="#">Press</a> </li> 
                    <li> <a href="#">IOS app</a> </li> 
                    <li> <a href="#">ANDROID app</a> </li> 
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-link-footer">
                    <li>
                        <a href="#"> <i class="ion-logo-facebook"></i> </a> 
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-twitter"></i> </a> 
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-googleplus"></i> </a> 
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-instagram"></i> </a> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyrighted &copy; 2020 by Unipara all rights reversed
            </p>
        </div>
    </footer>
</body>
</html>