<h2>Received Message from Student</h2>

<a href="/admin/message/read">Read Message</a>
<a href="/admin/message/unread">Unread Message</a>

<div>
    <table>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Send At</th>
            <th>Received At</th>
            <th>Option</th>
        </tr>
    <% rooms.forEach(room => { %>
        <tr>
            <td><%= room.sender.name %></td>
            <td><%= room.receiver.name %></td>
            <td><%= room.createdAt.toISOString().split('T')[0] %></td>
            <td><%= room.receivedAt.toISOString().split('T')[0] %></td>
            <td><a href="/admin/message/read/<%= room.id %>">View</a></td>
        </tr>
    <% }) %>
    </table>
</div>

<a href="/admin/message">Back</a>

