<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/admin/user">Manage User </a> </li>
            <li> <a href="/admin"> Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="log-border">
        <form class="signup-form">
            <h2> <%= faculty.name %> </h2>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Description:</label>
                </div>
                <div class="col span-2-of-3">
                    <%= faculty.description %>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Faculty topic:</label>
                </div>
                <div class="col span-2-of-3">
                    <% topic.forEach(topic => { %>
                        <table>
                            <tr>
                                <a href="/admin/topic/<%= topic.id %>"><%= topic.name %></a>
                            </tr>
                        </table>    
                    <% }) %>
                </div>
            </div>
    </form>
    <div class="row fal-add-css">
        <div class="col span-1-of-3">
            <a class="btn btn-ghost" href="/admin/faculty/<%= faculty._id %>/edit">Edit</a>
        </div>

        <div class="col span-1-of-3">
         <%- include('../partials/deleteForm', {url: `/admin/faculty/${faculty._id}`})%>      
        </div>

        <div class="col span-1-of-3">
            <form action="/admin/faculty/downloadAll/<%= faculty._id %>" method="GET">
             <button class="btn btn-ghost" type="submit">Download All</button>
            </form>
        </div>
    </div>
    </div>
    
</div>



