<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav" id="navi">
            <li>
                <a href="javascript:void(0);" class="icon-rp"  onclick="myFunction()">
                 <i class="ion-ios-information-circle"></i>
                </a>
            </li>
            <li> <a href="/admin/faculty">Manage falcuty </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>
<%- include('../partials/errorMessage.ejs') %>
<section>
    <div class="row">
        <div class="log-border">
            <div class="signup-form">
                <h2>Show message</h2>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Message:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.message %>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Sent At:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.createdAt.toISOString().split('T')[0] %>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Sender:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.sender.name %>
                    </div>
                </div>

                <div class="row fal-add-css">
                    <div class="col span-1-of-2">
                        <form action="/admin/message/<%= room.id %>" method="POST">
                            <button class="btn btn-ghost" name="status" value="done">Received</button>
                        </form>
                    </div>
                    <div class="col span-1-of-2">
                        <a class="btn btn-ghost" href="/admin/message">Back</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>