<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/admin/faculty">Manage falcuty </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="log-border">
        <form class="signup-form">
            <h2>
                <%= user.name %>
            </h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Username:</label>
                </div>
                <div class="col span-2-of-3">
                    <%= user.username %>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Role: </label>
                </div>
                <div class="col span-2-of-3">
                    <%= user.role %>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Faculty Assigned:</label>
                </div>
                <div class="col span-2-of-3">
                    <% if (user.faculty) { %>
                        <a class="btn btn-full" href="/admin/faculty/<%= user.faculty._id %>">
                            <%= user.faculty.name %>
                        </a>
                        <% } %>
                </div>
            </div>
        </form>
        <div class="row fal-add-css">
            <div class="col span-1-of-3">
                <a class="btn btn-ghost" href="/admin/user/<%= user._id %>/edit">Edit</a>
            </div>

            <div class="col span-1-of-3">
                <%- include('../partials/deleteForm', {url: `/admin/user/${user._id}`})%>
            </div>

            <div class="col span-1-of-3">
                <a class="btn btn-ghost" href="/admin/user">Home</a>
            </div>
        </div>
    </div>

</div>