<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="sticky sticky-admin">
        <div class="row">
            <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
            <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
            <ul class="main-nav">
                <li> <a href="/admin/faculty">Manage falcuty </a> </li>
                <li> <a href="/admin">Home </a> </li>
                <li> <a href="/admin/logout">logout </a> </li>
            </ul>
        </div>
    </nav>

    <section class="centered-search">
        <h3>Search User</h3>
        <form action="/admin/user" method="GET">
            <div class="search-css">
                <input type="text" name="name" value="<%= searchOptions.name %>">
            </div>
            <button class="btn btn-full" type="submit">Search</button>
            <a class="btn btn-full" href="/admin/user/new">Add New User</a>
        </form>
    </section>

    <div>
        <a href="/admin/user/admin">Admin Account</a>
        <a href="/admin/user/manager">Manager Account</a>
        <a href="/admin/user/coordinator">Coordinator Account</a>
        <a href="/admin/user/student">Student Account</a>
        <a href="/admin/user/guest">Guest Account</a>
    </div>

    <div>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Role</th>
                    <th>Falcuty</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <% user.forEach(user=>{ %>
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <a class="btn" href="/admin/user/<%= user._id %>">
                                <%= user.name %>
                            </a>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.role %>
                        </td>
                        <td>
                            <% if(user.faculty) { %>
                                <%= user.faculty.name %>
                                    <% } %>
                        </td>
                        <td>
                            <%= user.createdAt.toISOString().split('T')[0] %>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
    </div>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="nav-footer">
                    <li> <a href="#">about us</a> </li>
                    <li> <a href="#">blog</a> </li>
                    <li> <a href="#">Press</a> </li>
                    <li> <a href="#">IOS app</a> </li>
                    <li> <a href="#">ANDROID app</a> </li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-link-footer">
                    <li>
                        <a href="#"> <i class="ion-logo-facebook"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-twitter"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-instagram"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyrighted &copy; 2020 by Unipara all rights reversed
            </p>
        </div>
    </footer>
</body>

</html>