<a href="/admin/user/new">Add New User</a>
<h1>Search User</h1>
<form action="/admin/user" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% user.forEach(user=>{ %>
        <table>
            <tr>
                <td>Name</td>
                <td>Role</td>
                <td>Faculty</td>
            </tr>
            <tr>
                <td><a href="/admin/user/<%= user._id %>">
                        <%= user.name %>
                    </a>
                </td>
                <td><%= user.role %></td>
                <td><% if(user.faculty) { %>
                    <%= user.faculty.name %>
                <% } %></td>
            </tr>

        </table>
    <% }) %>
</div>
<a href="/admin">Home</a>