

<body>

    <nav class="bg-nav pb-2">
        <div class="row text-dark">
            <a href="/coordinator"><img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
                <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black"></a>
            <ul class="main-nav " id="navi">
                <li>
                    <a href="javascript:void(0);" class="icon-rp" onclick="myFunction()">
                        <i class="ion-ios-information-circle"></i>
                    </a>
                </li>
                <li> <a href="/coordinator/topic">Topic </a> </li>
                <li> <a href="/coordinator/allArticle">All Article </a> </li>
                <li> <a href="/coordinator/article">Article </a> </li>
                <li> <a href="/coordinator/logout">Sign Out </a> </li>
    
            </ul>
        </div>
    </nav>
    <div class="p-5">
        <h2 class="text-dark text-center">All articles</h2>
    </div>
    <div class="p-5 mt-5">
        <form action="/coordinator/article" method="GET">
            <div class="boxs">
                <div class="container-2">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" value="<%= searchOptions.name %>" id="search" placeholder="Search..." />
                </div>
              </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-id">Cover</th>
                    <th class="table-name">Name</th>
                    <th class="table-date">Date Submitted</th>
                    <th class="table-score">Status</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                    <tr>
                        <td><img width="100" height="150" src="<%= article.coverImagePath %>"> </td>
                        <td><a href="/coordinator/article/<%= article._id %>">
                            <%= article.name %>
                        </a></td>
                        <td><%= article.createdAt.toISOString().split('T')[0] %></td>
                        <td><%= article.status %></td>
                        <td>
                            <form action="/coordinator/allArticle" method="POST">
                                <input type="text" hidden name="articleId" value="<%= article._id %>">
                                <textarea name="comment"><%= article.comment %></textarea>
                                <p>
                                    <button type="submit" name="permission" value="accept" class="btn btn-success">Accept</button>
                                    <button type="submit" name="permission" value="refuse" class="btn btn-danger">Refuse</button>
                                </p>
    
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="nav-footer">
                    <li> <a href="#">about us</a> </li>
                    <li> <a href="#">blog</a> </li>
                    <li> <a href="#">Press</a> </li>
                    <li> <a href="#">IOS app</a> </li>
                    <li> <a href="#">ANDROID app</a> </li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-link-footer">
                    <li>
                        <a href="#"> <i class="ion-logo-facebook"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-twitter"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="ion-logo-instagram"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyrighted &copy; 2020 by Unipara all rights reversed
            </p>
        </div>
    </footer>
</body>
</html>

<!-- <a href="/coordinator">Home</a>
<h1>Article</h1>
<h1>Search Article</h1>
<form action="/coordinator/article" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>

<h2>All Article</h2>
<div>
    <% articles.forEach(article=>{ %>
        <form action="/coordinator/article" method="POST">
            <input type="text" hidden name="articleId" value="<%= article._id %>">
            <table>
                <tr>
                    <td><img height="150" width="100" src="<%= article.coverImagePath %>"></td>
                    <td><a href="/coordinator/article/<%= article._id %>">
                            <%= article.name %>
                        </a>
                    </td>
                    <td>
                        <form action="/coordinator/article" method="POST">
                            <label>Comment</label>
                            <textarea name="comment"><%= article.comment %></textarea>
                            <p>
                                <button type="submit" name="permission" value="accept">Accept</button>
                                <button type="submit" name="permission" value="refuse">Refuse</button>
                            </p>

                        </form>
                    </td>
                </tr>
            </table>
        </form>
        <% }) %>
</div> -->