<h1>Recently Submission Article</h1>

<h1>Article</h1>

<h1>Search Article</h1>
<form action="/coordinator/article" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>

<h2>Recently Added</h2>
<div>
    <% articles.forEach(article=>{ %>
        <form action="/coordinator/article" method="POST">
            <input type="text" hidden name="articleId" value="<%= article._id %>">
            <table>
                <tr>
                    <td><img height="150" width="100" src="<%= article.coverImagePath %>"></td>
                    <td><a href="/coordinator/article/<%= article._id %>">
                            <%= article.name %>
                        </a>
                    </td>
                    <td>
                        <form action="/coordinator/article" method="POST">
                            <label>Comment</label>
                            <textarea name="comment"><%= article.comment %></textarea>
                            <p>
                                <button type="submit" name="permission" value="accept">Accept</button>
                                <button type="submit" name="permission" value="refuse">Refuse</button>
                            </p>

                        </form>
                    </td>
                </tr>
            </table>
        </form>
        <% }) %>
</div>
<a href="/coordinator">Home</a>