<section class="p-5">
    <h2>Edit User</h2>
    <form action="/coordinator/profile/<%= profile.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="p-5">
            <table class="table-card">
                <tr>
                    <th class="pb-3">Name: </th>
                    <td class="pb-3">
                        <input type="text" name="fullname" value="<%= profile.fullName %>">
                    </td>
                </tr>
                <tr>
                    <th class="pb-3">Gender: </th>
                    <td class="pb-3">
                        <% if(!gender || gender==='male' ) {%>
                            <input checked type="radio" name="gender" value="male" style="margin-left: 15px;"> <label
                                id="male" style="margin-left: 5px;">Male</label>
                            <% } else { %>
                                <input type="radio" name="gender" value="male" style="margin-left: 15px;"> <label
                                    id="male" style="margin-left: 5px;">Male</label>
                                <% } %>

                                    <% if(gender==='female' ) {%>
                                        <input checked type="radio" name="gender" value="female"
                                            style="margin-left: 15px;"> <label id="female"
                                            style="margin-left: 5px;">Female</label>
                                        <% } else { %>
                                            <input type="radio" name="gender" value="female" style="margin-left: 15px;">
                                            <label id="female" style="margin-left: 5px;">Female</label>
                                            <% } %>

                                                <% if(gender==='other' ) {%>
                                                    <input checked type="radio" name="gender" value="other"
                                                        style="margin-left: 15px;"><label id="other"
                                                        style="margin-left: 5px;">Other</label>
                                                    <% } else { %>
                                                        <input type="radio" name="gender" value="other"
                                                            style="margin-left: 15px;"><label id="other"
                                                            style="margin-left: 5px;">Other</label>
                                                        <% } %>
                    </td>
                </tr>

                <tr>
                    <th class="pb-3">Date of Birth: </th>
                    <td class="pb-3">
                        <input type="date" name="dob" value="<%= profile.dob.toISOString().split('T')[0] %>">
                    </td>
                </tr>
                <tr>
                    <th class="pb-3">Email: </th>
                    <td class="pb-3">
                        <input type="email" name="email" value="<%= profile.email== null? '' : profile.email %>">
                    </td>
                </tr>
                <tr>
                    <th class="pb-3">Introduction: </th>
                    <td class="pb-3">
                        <textarea name="introduction"><%= profile.introduction %></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="pb-3">Avatar: </th>
                    <td class="pb-3">
                        <input type="file" name="avatar">
                    </td>
                </tr>
            </table>
            <div class="pt-5"><button type="submit" class="btn btn-success">Update</button>
                <a href="/coordinator/profile/<%= profile.id %>">Cancel</a>
            </div>
        </div>
    </form>
</section>