
    <nav class="bg-nav pb-2">
        <div class="row text-dark">
            <a href="/coordinator"><img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
                <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black"></a>
            <ul class="main-nav " id="navi">
                <li>
                    <a href="javascript:void(0);" class="icon-rp" onclick="myFunction()">
                        <i class="ion-ios-information-circle"></i>
                    </a>
                </li>
                <li> <a href="/coordinator/topic">Topic </a> </li>
                <li> <a href="/coordinator/allArticle">All Article </a> </li>
                <li> <a href="/coordinator/article">Article </a> </li>
                <li> <a href="/coordinator/logout">Sign Out </a> </li>
    
            </ul>
        </div>
    </nav>
<div class="pt-5">
    <h2 class="text-dark text-center">All Topic</h2>
</div>

<div class="p-5 mt-5">
    <div class="topnav p-1">
        <a class="active" href="/coordinator/topic/new">Add new TOPIC</a>
        <form action="/coordinator/article" method="GET">
            <div class="boxs">
                <div class="container-2">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" value="<%= searchOptions.name %>" id="search" placeholder="Search..." />
                </div>
              </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-id">No</th>
                <th class="table-name">Name</th>
                <th class="table-date">Expired Date</th>
                <th class="table-number">Final Expired Date</th>
            </tr>
        </thead>
        <% topic.forEach(topic=>{ %>
        <tbody>
            <tr>
                <td><a href="/coordinator/topic/<%= topic.id %>">
                    <%= topic.id %>
                </a></td>
                <td><a href="/coordinator/topic/<%= topic.id %>">
                    <%= topic.name %>
                </a></td>
                <td><%= topic.expiredDate==null ? '' : topic.expiredDate.toISOString().split('T')[0] %></td>
                <td> <%= topic.finalExpiredDate==null ? '': topic.finalExpiredDate.toISOString().split('T')[0] %></td>
            </tr>
        </tbody>
        <% }) %>
    </table>
</div>
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="nav-footer">
                <li> <a href="#">about us</a> </li>
                <li> <a href="#">blog</a> </li>
                <li> <a href="#">Press</a> </li>
                <li> <a href="#">IOS app</a> </li>
                <li> <a href="#">ANDROID app</a> </li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-link-footer">
                <li>
                    <a href="#"> <i class="ion-logo-facebook"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-twitter"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-instagram"></i> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyrighted &copy; 2020 by Unipara all rights reversed
        </p>
    </div>
</footer>