<h1>Rejected Article</h1>

<a href="/user/newarticle">New Article</a>

<h1>Search Article</h1>
<form action="/user/article" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>

<h2>Recently Added</h2>
<div>
    <% articles.forEach(article=>{ %>
        <table>
            <tr>
                <td>Cover</td>
                <td>Name</td>
                <td>Status</td>
                <td>Comment</td>
            </tr>
            <tr>
                <td>
                    <img height="150" width="100" src="<%= article.coverImagePath %>">
                </td>
                <td>
                    <a href="/user/rejectedarticle/<%= article._id %>">
                        <%= article.name %>
                    </a>
                </td>
                <td>
                    <h3>Rejected</h3>
                </td>
                <td><%= article.comment %></td>
            </tr>
        </table>
        <% }) %>
</div>
<a href="/user">Home</a>