<a href="/user">Home</a>
<h2><%= article.name %></h2>
<a href="/article/<%= article._id %>"></a><img width="100" height="150" src="<%= article.coverImagePath %>"></a>
<div>
    Author: <%= article.author %>
</div>
<div>
    Created At: <%= article.createdAt %>
</div>

<div>
    Description: <%= article.description %> 
</div>

<div>
    File: <%= article.fileName %>
</div>

<div>
    Comment from Coordinator: <%= article.comment %>
</div>

<a href="/user">Back</a>
