<a href="/student">Home</a>
<h2>All Article</h2>

<h1>Search Article</h1>
<form action="/student/article" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>

<div>
    <% articles.forEach(article=>{ %>
        <table>
            <tr>
                <td>Cover</td>
                <td>Name</td>
                <td>Author</td>
                <td>Link download</td>
            </tr>
            <tr>
                <td><img height="150" width="100" src="<%= article.coverImagePath %>"></td>
                <td><a href="/student/article/<%= article._id %>">
                        <%= article.name %>
                    </a>
                </td>
                <td><%= article.author %> </td>
                <td>
                    <form action="/student/article/download/<%= article._id %>" method="GET">
                        <input type="submit" value="Download">
                    </form>
                </td>
            </tr>
        </table>
        <% }) %>
</div>