<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <a href="/student"><img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black"></a>
        <ul class="main-nav" id="navi">
            <li>
                <a href="javascript:void(0);" class="icon-rp" onclick="myFunction()">
                    <i class="ion-ios-information-circle"></i>
                </a>
            </li>
            <li> <a href="/student">Home</a> </li>
            <li> <a href="/student/topic">Topic</a> </li>
            <li> <a href="/student/article">All Article</a> </li>
            <li> <a href="/student/poster">Your Article</a> </li>
            <li> <a href="/student/logout">Log out</a> </li>
        </ul>
    </div>
</nav>
<br></br>
<%- include('../partials/errorMessage.ejs') %>

<section class="p-5">
    <div style="overflow: auto;">
        <h2>Edit Profile</h2>
        <form action="/student/profile/<%= profile.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="l50">
                <div>
                    <label class="fw-bold" for="name">Name</label>
                    <input type="text" name="fullname" value="<%= profile.fullName %>">
                </div>
                <div class="mgt1">
                    <label class="fw-bold" for="email">Email </label>
                    <input type="text" name="email" value="<%= profile.email== null? '' : profile.email %>">
                </div>
                <div class="mgt1">
                    <label class="fw-bold">Avatar: </label>
                    <input type="file" name="avatar">
                </div>
            </div>
            <div class="r50">
                <div class="mgt4">
                    <label class="fw-bold" for="gender">Gender </label>
                    <% if(!gender || gender ==='male') {%>
                        <input checked type="radio" name="gender" value="male" style="margin-left: 15px;"> <label id="male" style="margin-left: 5px;">Male</label>
                        <% } else { %>
                            <input type="radio" name="gender" value="male" style="margin-left: 15px;"> <label id="male" style="margin-left: 5px;">Male</label>
                            <% } %>

                                <% if(gender ==='female') {%>
                                    <input checked type="radio" name="gender" value="female" style="margin-left: 15px;"> <label id="female" style="margin-left: 5px;">Female</label>
                                    <% } else { %>
                                        <input type="radio" name="gender" value="female" style="margin-left: 15px;"> <label id="female" style="margin-left: 5px;">Female</label>
                                        <% } %>

                                            <% if(gender ==='other') {%>
                                                <input checked type="radio" name="gender" value="other" style="margin-left: 15px;"> <label id="other" style="margin-left: 5px;">Other</label>
                                                <% } else { %>
                                                    <input type="radio" name="gender" value="other" style="margin-left: 15px;"> <label id="other" style="margin-left: 5px;">Other</label>
                                                    <% } %>
                </div>
                <div class="mgt5">
                    <label class="fw-bold" for="dob">Date of Birth</label>
                    <input style="margin-left: 15px; border-radius: 5px ; border : solid 0.5px gray" type="date" name="dob" value="<%= profile.dob.toISOString().split('T')[0] %>">
                </div>
                <div class="mgt1">
                    <label class="fw-bold" for="intro">Introduction </label>
                    <textarea name="intro"><%= profile.introduction %></textarea>
                </div>
                <div style="float: right; margin-top: 2%;">
                    <button class="btn btn-ghost"><a href="/student/profile/<%= profile.id %>">Cancel</a></button>
                    <button class="btn btn-full" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>


</section>
<footer id="footer">
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="nav-footer">
                <li> <a href="#">about us</a> </li>
                <li> <a href="#">blog</a> </li>
                <li> <a href="#">Press</a> </li>
                <li> <a href="#">IOS app</a> </li>
                <li> <a href="#">ANDROID app</a> </li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-link-footer">
                <li>
                    <a href="#"> <i class="ion-logo-facebook"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-twitter"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-instagram"></i> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyrighted &copy; 2020 by Unipara all rights reversed
        </p>
    </div>

</footer>